
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
*.db

# C extensions
*.so

.DS_Store
examples/icd_analysis/local_paths.py
examples/covid_vaccine_analysis/local_paths.py

sciserv/sciserv.egg-info/

scientistgpt/scientistgpt.egg-info/

sciserv/sciserv/build/

frontend/Documentation/dist/assets/libs/chance/chance.min.js

*.lock

# all files starting with gpt_code_attempt
gpt_code_attempt*